.item {
  color: brown;
}

#ingredients,
#ingredients2 {
  margin: 15px;
}

#ingredients2 {
  color: teal;
}

#gallery {
  display: flex;
  justify-content: center;
  flex-direction: column;
  list-style: none;
}
.gallery-item {
  width: 100%;
}

.item-img {
  display: block;
  width: 300px;
  margin: 15px auto;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}

.container {
  margin-top: 20px;
  margin-left: 20px;
}

.task7 {
  height: 120px;
}
